<span>Label:</span>
<div class="memory-checks" ng-model="vars.radio${RANDOM}">
    <div class="checks-item">
        <input type="radio" class="btn-check" name="options" id="option-1-${RANDOM}" autocomplete="off" checked="">
        <label class="btn k-button btn-block btn-checks" for="option-1-${RANDOM}" xattr-theme="btn-checks">Sim</label>
    </div>
    <div class="checks-item">
        <input type="radio" class="btn-check" name="options" id="option-2-${RANDOM}" autocomplete="off">
        <label class="btn k-button btn-block btn-checks" for="option-2-${RANDOM}" xattr-theme="btn-checks">Não</label>
    </div>
</div>