<div class="memory-search">
    <div class="component-holder ng-scopecol-lg-3 col-md-3 col-sm-3 col-xs-5" data-component="crn-textinput" id="crn-textinput-${RANDOM}">
        <div class="form-group">
            <label for="inputcodigo${RANDOM}">Código</label>
            <input type="text" ng-required="false" ng-model="vars.codigo${RANDOM}" class="form-control k-textbox" id="inputcodigo${RANDOM}">
        </div>
    </div>
    <div class="component-holder ng-scope col-xs-6 col-lg-8 col-md-8 col-sm-8" data-component="crn-textinput" id="crn-textinput-${RANDOM}">
        <div class="form-group">
            <label for="inputdescricao${RANDOM}">Descrição</label>
            <input type="text" ng-required="false" ng-model="vars.descricao${RANDOM}" class="form-control k-textbox" id="inputdescricao${RANDOM}">
        </div>
    </div>
    <div class="component-holder ng-scope memory-search-button col-xs-3 col-lg-1 col-md-1 col-sm-1" data-component="crn-button" id="crn-button-${RANDOM}">
        <button class="btn k-button btn-default" ng-click="" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled="">
            <i class="color-white glyphicon glyphicon-search" icon-theme="color-white"> </i>
            <span class="color-white" text-theme="color-white"></span>
        </button>
    </div>
</div>